<div class="mt-4">
    <div class="row">

        <div class="col-lg-4">
            {{!-- <button>Mua đi</button> --}}
            <img src="{{product.image}}" alt=""><br>
            <p>{{product.description}}</p>
        </div>
        <div class="col-lg-8">
            <h2>{{product.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{product.videoId}}?si=lQGGJRycjJ187l8R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>{{product.price}}</p>
        </div>

    </div>
</div>